# Files and directories created by pub
.packages
.pub/
build/
packages

# (Remove this pattern if you wish to check in your lock file)
pubspec.lock

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# Directories created by dart_dev
coverage/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

node_modules
lib/view_lib.js*