# Files and directories created by pub
.packages
build/
.dart_tool/

# (Remove this pattern if you wish to check in your lock file)
pubspec.lock

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

node_modules
lib/view_lib.js*